name: Build and Publish Rust Python Package

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build on ${{ matrix.os }} with Python ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: [3.11, 3.12]

    steps:
      - uses: actions/checkout@v3

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          profile: minimal

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install maturin twine

      - name: Build wheel
        run: maturin build --release

      - name: Upload wheels as artifact
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-py${{ matrix.python }}
          path: target/wheels/*.whl

  publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install maturin twine

      - name: Download wheel artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./wheels


      - name: Publish to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: pypi-AgEIcHlwaS5vcmcCJGNmYWQxNDZmLWY2ZmEtNDQyMi05YzRjLTg5YTA4M2I0Yjk0YgACKlszLCJkZmRjMjNkNC1kNjVjLTRiMDQtOTdiNC0yZjkzM2ViMDVkNDYiXQAABiBP5y2z-_1hASM2frYv1GVHuFiL26Q6HCTSiEvs1_MoVA
        run: twine upload ./wheels/**/*.whl
