name: Build and Publish Rust Python Package

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build_wheels:
    name: Build wheels
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.16.2

      - name: Build wheels
        env:
          CIBW_BUILD: "cp311-* cp312-*"
          CIBW_SKIP: "*-musllinux_i686"
          CIBW_ARCHS_LINUX: "x86_64 aarch64"
          CIBW_ARCHS_MACOS: "x86_64 arm64"
          CIBW_ARCHS_WINDOWS: "AMD64"
        run: python -m cibuildwheel --output-dir wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: wheelhouse/*.whl

  publish:
    needs: build_wheels
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: wheels
          path: wheelhouse

      - name: Publish to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: pypi-AgEIcHlwaS5vcmcCJGNmYWQxNDZmLWY2ZmEtNDQyMi05YzRjLTg5YTA4M2I0Yjk0YgACKlszLCJkZmRjMjNkNC1kNjVjLTRiMDQtOTdiNC0yZjkzM2ViMDVkNDYiXQAABiBP5y2z-_1hASM2frYv1GVHuFiL26Q6HCTSiEvs1_MoVA
        run: |
          python -m pip install twine
          twine upload wheelhouse/*.whl
